table {
    width: 90%;
    margin: 50px auto;

    tr.detail-row {
        height: 0;
    }

    tr.element-row:not(.expanded-row):hover {
        background: whitesmoke;
    }

    tr.element-row:not(.expanded-row):active {
        background: #efefef;
    }

    .element-row td {
        border-bottom-width: 0;
    }

    .element-detail {
        overflow: hidden;
        display: flex;
    }

    .audio {
        padding: 16px;
        margin-left: 10px;
    }
}